/* @group Default */

h1 {
	font-family: Lobster, cursive;
	text-transform: lowercase;
}

li.social {
	-webkit-border-radius: 82px;
	-moz-border-radius: 82px;
	background-color: #a1b980;
	border-radius: 82px;
	text-align: center;
}

li.social:hover {
	background-color: #839a62;
}

/* @end */