@import "retina";

@mixin transform($transforms...) {
	-o-transform: $transforms;
	-moz-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin transition($transitions...) {
	-moz-transition: $transitions;
	-o-transition: $transitions;
	-webkit-transition: $transitions;
	transition: $transitions;
}

@mixin boxShadow($shadows...) {
	-moz-box-shadow: $shadows;
	-o-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}
