@import "retina";

@mixin boxShadow($shadows...) {
	-moz-box-shadow: $shadows;
	-o-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}

@mixin ligatures {
	-moz-font-feature-settings: "liga=1, dlig=1"; 
	-moz-font-feature-settings: "liga", "dlig"; /* EDIT: new syntax for FF 15+ */ 
	-ms-font-feature-settings: "liga", "dlig"; 
	-o-font-feature-settings: "liga", "dlig"; 
	-webkit-font-feature-settings: "liga", "dlig"; 
	font-feature-settings: "liga", "dlig";
}

@mixin transform($transforms...) {
	-o-transform: $transforms;
	-moz-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin transition($transitions...) {
	-moz-transition: $transitions;
	-o-transition: $transitions;
	-webkit-transition: $transitions;
	transition: $transitions;
}

$clear: rgba(0, 0, 0, 0);
$primary-color: #839a62;

// Top
$topbar-bg: #fff;
$topbar-title-weight: normal;
$topbar-title-font-size: emCalc(30px);
$topbar-link-color: #004b03;
$topbar-link-weight: bold;
$topbar-dropdown-bg: #fff;
$topbar-dropdown-link-color: #004b03;
$topbar-dropdown-toggle-color: #000;
$topbar-menu-link-transform: lowercase;
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #004b03;
$topbar-menu-icon-color: #004b03;
$topbar-transition-speed: 300ms;
$topbar-breakpoint: emCalc(640px);


/*
// We use this to set the base for lots of form spacing and positioning styles
$form-spacing:                       emCalc(16px);

// We use these to style the labels in different ways
$label-pointer:                      pointer;
$label-font-size:                    emCalc(14px);
$label-font-weight:                  500;
$label-font-color:                   lighten(#000, 30%);
$label-bottom-margin:                emCalc(3px);
$input-font-color:                   rgba(0,0,0,0.75);
$input-font-size:                    emCalc(14px);
$input-bg-color:                     #fff;
$input-focus-bg-color:               darken(#fff, 2%);
$input-border-color:                 darken(#fff, 20%);
$input-focus-border-color:           darken(#fff, 40%);
$input-border-style:                 solid;
$input-border-width:                 1px;
$input-disabled-bg:                  #ddd;
$input-box-shadow:                   inset 0 1px 2px rgba(0,0,0,0.1);

// We use these to style the fieldset border and spacing.
$fieldset-border-style:              solid;
$fieldset-border-width:              1px;
$fieldset-border-color:              #ddd;
$fieldset-padding:                   emCalc(20px);
$fieldset-margin:                    emCalc(18px) 0;

// We use these to style the legends when you use them
$legend-bg:                          #fff;
$legend-font-weight:                 bold;
$legend-padding:                     0 emCalc(3px);

// We use these to style the prefix and postfix input elements
$input-prefix-bg:                    darken(#fff, 5%);
$input-prefix-border-color:          darken(#fff, 20%);
$input-prefix-border-size:           1px;
$input-prefix-border-type:           solid;
$input-prefix-overflow:              hidden;
$input-prefix-font-color:            #333;
$input-prefix-font-color-alt:        #fff;

// We use these to style the error states for inputs and labels
$input-error-message-padding:        emCalc(6px) emCalc(4px);
$input-error-message-top:            -($form-spacing) - emCalc(5px);
$input-error-message-font-size:      emCalc(12px);
$input-error-message-font-weight:    bold;
$input-error-message-font-color:     #fff;
$input-error-message-font-color-alt: #333;
*/

$input-focus-border-color: #75b9f0;
$input-focus-bg-color: #fff;