@import "settings";
@import "foundation";
@import "retina";

$clear: rgba(0, 0, 0, 0);

@mixin transform($transform) {
	-o-transform: $transform;
	-moz-transform: $transform;
	-webkit-transform: $transform;
	transform: $transform;
}

@mixin transition($transition) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

body { 
	-moz-font-feature-settings: "liga=1, dlig=1"; 
	-moz-font-feature-settings: "liga", "dlig"; /* EDIT: new syntax for FF 15+ */ 
	-ms-font-feature-settings: "liga", "dlig"; 
	-o-font-feature-settings: "liga", "dlig"; 
	-webkit-font-feature-settings: "liga", "dlig"; 
	font-feature-settings: "liga", "dlig";
	text-rendering: optimizeLegibility;
}

h1 {
	font-family: Lobster, cursive;
	
	a {
		min-width: 300px;
	}
}

.keo {
	@include at2x('keo/keo', 45px, 45px, '.png');
	width: 45px;
	height: 45px;
	display: block;
	margin-right: 10px;
	float: left;
}

nav {
	margin-top: 10px !important;
	text-transform: lowercase;
	
	.divider {
		background-color: $clear;
		border: none !important;

		&:not(:first-of-type):before {
			@include transform(rotateZ(20deg));
			color: #839a62;
			content: '|';
			display: none;
			font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
			font-size: 32px;
			font-weight: 100;
			position: absolute;
			top: -5px;
			
			@media #{$topbar-media-query} {
				display: block !important;
			}
		}
	}
	
	a {
		background: $clear !important;
	}
	
	.right a:hover {
		text-decoration: underline;
	}
}

.nav-border {
	border-bottom: 1px solid #004b03;
	height: 9px;
}

.content-padding {
	height: 20px;
}

footer {
	background-color: #c4d295;
	color: #3b4330;
	text-align: center;
	padding-top: 25px;
	
	h3 {
		text-transform: uppercase;
	}
	
	p {
		line-height: 125%;
	}
	
	ul {
		float: none;
		margin: 0 auto !important;
		max-width: 550px;
		padding: 0;
		position: relative;
	}
	
	.contact-us {
		max-width: 450px;
		margin: 0 auto 25px;
		float: none;
	}
	
	.social {
		@include transition(background-color 0.3s linear);
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		background: no-repeat center center #a1b980;
		border-radius: 40px;
		display: block;
		height: 60px;
		margin: 0 auto 25px;
		text-align: center;
		text-indent: -9999em;
		width: 60px;
	
		&:hover {
			background-color: #839a62;
		}
		
		&.appdotnet {
			@include at2x('social/appdotnet', 35px, 32px, '.png');
			
			@media only screen and (max-width: 360px) {
				background-size: 28px 26px !important;
			}
		}
	
		&.email {
			@include at2x('social/email', 35px, 35px, '.png');
			
			@media only screen and (max-width: 360px) {
				background-size: 28px 28px !important;
			}
		}
	
		&.facebook {
			@include at2x('social/facebook', 17px, 35px, '.png');
						
			@media only screen and (max-width: 360px) {
				background-size: 14px 28px !important;
			}
		}
	
		&.twitter {
			@include at2x('social/twitter', 43px, 35px, '.png');
						
			@media only screen and (max-width: 360px) {
				background-size: 34px 28px !important;
			}
		}
		
		@media only screen and (min-width: 400px) {
			height: 80px;
			width: 80px;
		}
	}
	
	.copyright {
		background-color: #849b64;
		color: white;
		font-size: 11pt;
		padding-top: 25pt;
		padding-bottom: 25pt;
		
		a {
			color: white;
			text-decoration: underline;
		}
		
		p {
			display: inherit;
			margin-bottom: 0;
			
			@media only screen and (min-width: 650px) {
				display: inline;
			}
		}
	}
}