// WE WANT NORMALIZE HERE.
@import "normalize";

// WE WANT HTML CLASSES HERE.
// $include-html-classes: false;
@import "settings";
@import "compass/css3/transform";

body {
	@include ligatures;
	text-rendering: optimizeLegibility;
}

h1 {
	font-family: Lobster, cursive;
	padding: 0 15px;
	position: relative;

	a {
		text-indent: -9999em;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 !important;
		width: 206px !important;
		height: 45px;
	}
}

nav {
	margin-bottom: 0 !important;
	margin-top: 10px !important;
	text-transform: lowercase;
	
	.divider {
		background-color: $clear;
		border: none !important;

		&:not(:first-of-type):before {
			@include rotateZ(20deg);
			color: #839a62;
			content: '|';
			display: none;
			font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
			font-size: 32px;
			font-weight: 100;
			position: absolute;
			top: -5px;
			
			@media #{$topbar-media-query} {
				display: block !important;
			}
		}
	}
	
	a {
		background: $clear !important;
	}
	
	.right a:hover {
		text-decoration: underline;
	}
}

.nav-border {
	border-bottom: 1px solid #004b03;
	height: 9px;
}

.content-padding {
	height: 20px;
}

footer {
	background-color: #c4d295;
	color: #3b4330;
	margin-top: 20px;
	padding-top: 25px;
	text-align: center;
	
	h3 {
		text-transform: uppercase;
	}
	
	p {
		line-height: 125%;
	}
	
	ul {
		float: none;
		margin: 0 auto !important;
		max-width: 550px;
		padding: 0;
		position: relative;
	}
	
	.contact-us {
		max-width: 450px;
		margin: 0 auto 25px;
		float: none;
	}
	
	.social {
		@include single-transition(background-color, 0.3s);
		@include radius(40px);
		background: no-repeat center center #a1b980;
		border-radius: 40px;
		display: block;
		height: 60px;
		margin: 0 auto 25px;
		text-align: center;
		text-indent: -9999em;
		width: 60px;
	
		&:hover {
			background-color: #839a62;
		}
		
		&.appdotnet {
			@include at2x('social/appdotnet', 35px, 32px);
			
			@media only screen and (max-width: 360px) {
				background-size: 28px 26px !important;
			}
		}
	
		&.email {
			@include at2x('social/email', 35px, 35px);
			
			@media only screen and (max-width: 360px) {
				background-size: 28px 28px !important;
			}
		}
	
		&.facebook {
			@include at2x('social/facebook', 17px, 35px);
						
			@media only screen and (max-width: 360px) {
				background-size: 14px 28px !important;
			}
		}
	
		&.twitter {
			@include at2x('social/twitter', 43px, 35px);
						
			@media only screen and (max-width: 360px) {
				background-size: 34px 28px !important;
			}
		}
		
		@media only screen and (min-width: 400px) {
			height: 80px;
			width: 80px;
		}
	}
	
	.copyright {
		background-color: #849b64;
		color: white;
		font-size: 11pt;
		padding-top: 25pt;
		padding-bottom: 25pt;
		
		a {
			color: white;
			text-decoration: underline;
		}
		
		p {
			display: inherit;
			margin-bottom: 0;
			
			@media only screen and (min-width: 650px) {
				display: inline;
			}
		}
	}
}