@import "foundation/foundation-global";
@import "settings";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

.hero-container {
	margin-bottom: 20px;
}

.hero {
	background-position: center center;
	display: table;
	height: 300px !important;
	text-align: center;
	position: relative;
	
	& > .row {
		@include at2x('hero/acey-deucey-2', 790px, 400px);
		@include box-shadow(inset 0 0 50px black);
		display: table-cell;
		text-shadow: 0 0 3px black;
		vertical-align: middle;
	}
	
	h2 {
		color: #fff;
		text-transform: uppercase;
		font-size: 27pt;
		margin: 15px inherit 0;
	}
	
	h3 {
		color: #fff;
		margin: 0 inherit 0;
	}
	
	.icon {
		img {
			@include box-shadow(0 0 30px black);
			@include radius(23px);
			margin: 0 auto;
		}
	}
}

.hero-aside {
	& > div {
		@media only screen and (min-width: 768px) {
			border-left: 1px solid #b4b4b4;
			height: 288px;
			padding-left: 20px;
		}
	}
	
	h2 {
		font-size: 24pt;
		margin-bottom: 0;
	}
	
	h3 {
		border-bottom: 1px solid #b4b4b4;
		font-size: 12pt;
		padding-bottom: 10px;
	}
	
	p {
		font-size: 10pt;
	}
}

.after-section {
	border-top: 1px solid #b4b4b4;
	padding-bottom: 20px;
}

.apps, .app {
	width: 100%;
}

.app {
	margin-bottom: 10px;
	
	a {
		color: black !important;		
	}

	.icon {
		@include radius(10px);
		background: #c4d295;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		
		img {
			margin: 0 auto;
		}
		
		.see-more {
			@include side-radius(bottom, 10px);
			position: absolute;
			display: none;
			bottom: 0px;
			width: 100%;
			height: 60%;
			background: rgba(0, 0, 0, 0.5);
			vertical-align: bottom;
			color: white;
			font-size: 18pt;
			
			div {
				bottom: 0;
				padding-bottom: 30px;
				position: absolute;
				width: 100%;
			}
			
			.triangle {
				font-size: 10pt;
				vertical-align: middle;
			}
		}

		&:hover .see-more {
			display: table-cell;
		}
	}
	
	&.acey-deucey-2 img {
		@include box-shadow(0 3px 10px rgba(0, 0, 0, 0.5));
		-moz-border-radius: 23px;
		-webkit-border-radius: 23px;
		border-radius: 23px;
	}
	
	.name {
		font-size: 10pt;
		margin-top: 10px;
		text-align: center;
		
		.slash {
			@include rotateZ(20deg);
			color: #839a62;
			display: inline-block;
			font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
			font-size: 24px;
			font-weight: 100;
			padding-left: 4px;
			position: relative;
			top: -3px;
			padding-right: 4px;
			vertical-align: middle;
		}
	}
}

.journal {
	h2 {
		text-transform: uppercase;
		
		a {
			color: #849b64;
		}
	}
	
	h3 {
		margin-bottom: 0;
		
		a {
			color: black;
		}
	}
}

.twitter, .appdotnet {
	a {
		color: #849b64;
	}
	
	.followers {
		text-transform: uppercase;
			
		.followers-count {
			font-size: 36pt;
			padding-right: 10px;
		}
	}

	.title {
		font-size: 20pt;
		font-weight: bold;
		text-align: center;
		width: 50% !important;

		@media only screen and (max-width: 767px) {
			width: 100% !important;
		}
		
		a {
			color: #839a62 !important;
			padding: 0.5em !important;
		}
	}
	
	.post {
		margin-bottom: 20px;
		
		.post-content {
			margin-bottom: 0;
		}
		
		.post-time {
			color: #859c65;
		}
	}
	
	.mascot {
		display: inline-block;
		margin-right: 10px;
		vertical-align: baseline;
	}
}

.twitter .mascot {
	@include at2x('social/twitter-green', 28px, 23px);
	height: 23px;
	width: 28px;
}

.appdotnet .mascot {
	@include at2x('social/appdotnet-green', 27px, 23px);
	height: 23px;
	width: 27px;
}