@import "settings";
@import "compass/css3/box-shadow";

table {
	width: 100%;
}

th {
	font-size: 20px !important;
}

.img {
	@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
	@include radius(50%);
	border: 2px solid white;
	height: 50px;
	margin: 0 auto;
	position: relative;
	width: 50px;
	
	.alex & {
		background: url('http://gravatar.com/avatar/4d00c4c07f26954a622ba72328f871e8?s=100') center no-repeat;
		background-size: 50px;
	}
	
	.zach & {
		background: url('http://gravatar.com/avatar/84c0d9b7f0f1945fc58910b4a63ed313?s=100') center no-repeat;
		background-size: 50px;
	}
}

.name {
	margin-top: 15px;
	margin-left: 15px;
}