@import "settings";
@import "compass/css3/filter";
@import "compass/css3/transform";
@import "compass/css3/transition";

@mixin desaturate {
	@include filter(grayscale(1));
	@include translateZ(0);
}

.row:not(:last-of-type) {
	margin-bottom: 30px;
}

.app {
	@include transition-property(filter, -webkit-filter, -moz-filter, -ms-filter, -o-filter);
	@include transition-duration(0.3s);

	text-align: center;
	padding-top: 70px;

	&:not(:hover) {
		@include desaturate;
	}

	.background {
		@include radius(10px);
		background: #c4d295;
		padding-bottom: 20px;
		height: 150px;
	}

	.foreground {
		position: relative;
		top: -50px;
	}

	&:hover img {
		@include rotateZ(10deg);
	}

	img {
		@include transition-property(transform);
		@include transition-duration(0.3s);
		margin: 0 auto;
	}

	h2, h3 {
		font-size: 14pt;
		margin-bottom: 0;
	}

	h2 {
		text-transform: uppercase;
	}

	h3 {
		font-weight: normal;
	}

	&.empty {
		.background {
			padding-bottom: 0;
		}

		.foreground {
			@include at2x('products/keo-transparent', 93px, 93px);
			background-position: center center;
			background-repeat: no-repeat;
			opacity: 0.2;
			height: 100%;
			width: 100%;
			top: 0;
		}

		&:nth-child(odd) {
			display: none;
		}

		@media only screen and (max-width: $small-screen) {
			display: none;
		}
	}
}
