<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ page.title }} &bull; Pandamonia</title>
  
  <!-- Included CSS Files (Compressed) -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="javascripts/modernizr.foundation.js"></script>
</head>
<body>
  <div class="row">
    <div class="twelve columns">
      <nav class="top-bar">
        <ul class="top-bar">
          <li class="name"><h1><a href="/">Pandamonia</a></h1></li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>

        <section>
          <ul class="right">
            {% assign pages_list = site.pages %}{% assign group = 'navigation' %}{% include pages_list %}
          </ul>
        </section>
      </nav>
    </div>
  </div>

  {{ content }}
  
  <div class="row">
    <div class="twelve columns">
      <h3>Say Hello</h3>
      <p>We&rsquo;d love to hear from you and answer any questions you may have. Send us an
email, follow us on Twitter or App.net, or like us on Facebook.</p>
      <ul class="block-grid four-up">
        <li class="social"><a href="https://twitter.com/pandamonia" class="twitter">Twitter</a></li>
        <li class="social"><a href="https://alpha.app.net/pandamonia" class="appdotnet">App.net</a></li>
        <li class="social"><a href="contact.html" class=="email">Email</a></li>
        <li class="social"><a href="https://www.facebook.com/pandamonia.llc" class="facebook">Facebook</a></li>
      </ul>
      <div class="row">
        <div class="twelve columns">
          <p>&copy; Copyright 2013 Pandamonia LLC. All rights reserved. Web Design by <a href="#">Anthony Castelli</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>
</body>
</html>
