<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>{{ page.title }} &bull; Pandamonia</title>
	
	<link rel="shortcut icon" href="favicon.ico" /> 
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/default.css" />
{% if page.css %}	<link rel="stylesheet" href="css/{{ page.css }}" />
{% endif %}
	<script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
	<nav class="top-bar row">
		<ul class="title-area">
			<li class="name">
				<h1><a href="/"><span class="keo"></span>Pandamonia</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
	
		<section class="top-bar-section">
			<ul class="right">{% include pages_list %}
			</ul>
		</section>
	</nav>
	
	<div class="nav-border"></div>
	<div class="content-padding"></div>
	
	{{ content }}
	
	<footer>	
		<div class="row">
			<div class="small-12 columns">
				<h3>Say Hello</h3>
				<p class="contact-us">We&rsquo;d love to hear from you and answer any questions you may have. Send us an email, follow us on Twitter or App.net, or like us on Facebook.</p>
				<ul class="small-block-grid-4">
					<li><a href="h&#000116;t&#000112;&#00058;&#00047;&#00047;w&#000119;w&#x2e;&#x66;&#00097;&#x63;&#101;b&#x6f;&#000111;&#x6b;&#00046;&#x63;&#x6f;&#000109;&#00047;&#112;&#97;&#x6e;&#000100;&#97;mo&#x6e;&#000105;&#97;.&#x6c;&#108;&#99;" target="_blank" class="social facebook">Facebook</a></li>
					<li><a href="contact.html" target="_blank" class="social email">Email</a></li>
					<li><a href="h&#000116;&#116;&#000112;&#00058;&#x2f;/&#000116;&#x77;&#105;&#x74;te&#114;&#x2e;&#99;&#111;&#000109;&#47;&#x70;&#97;&#110;&#x64;&#00097;&#x6d;&#000111;&#000110;&#105;&#00097;" target="_blank" class="social twitter">Twitter</a></li>
					<li><a href="h&#000116;&#x74;&#000112;&#x3a;//&#00097;&#108;&#x70;&#104;&#97;&#46;a&#x70;&#x70;&#46;ne&#116;&#00047;&#112;&#97;n&#000100;am&#x6f;&#110;&#x69;a" target="_blank" class="social appdotnet">App.net</a></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<p>&copy; Copyright 2013 Pandamonia LLC.</p> <p>All rights reserved.</p> <p>Web Design by <a href="http://about.me/anthony.castelli" target="_blank">Anthony Castelli</a>.</p>
		</div>
	</footer>

	<script src="js/vendor/jquery.js"></script>
	<script src="js/foundation/foundation.js"></script>
	<script src="js/foundation/foundation.alerts.js"></script>
	<script src="js/foundation/foundation.clearing.js"></script>
	<script src="js/foundation/foundation.cookie.js"></script>
	<script src="js/foundation/foundation.dropdown.js"></script>
	<script src="js/foundation/foundation.forms.js"></script>
	<script src="js/foundation/foundation.joyride.js"></script>
	<script src="js/foundation/foundation.magellan.js"></script>
	<script src="js/foundation/foundation.orbit.js"></script>
	<script src="js/foundation/foundation.placeholder.js"></script>
	<script src="js/foundation/foundation.reveal.js"></script>
	<script src="js/foundation/foundation.section.js"></script>
	<script src="js/foundation/foundation.tooltips.js"></script>
	<script src="js/foundation/foundation.topbar.js"></script>

	<script src="js/vendor/retina.js"></script>
	<script src="js/vendor/jquery.timeago.js"></script>
	<script src="js/app.js"></script>
{% if page.js %}	<script src="js/{{ page.js }}"></script>
{% endif %}</body>
</html>